<a href="https://colab.research.google.com/github/mprudd2/Project_Two_Team_Hodl/blob/main/code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!git clone https://github.com/mprudd2/Project_Two_Team_Hodl.git

Cloning into 'Project_Two_Team_Hodl'...
remote: Enumerating objects: 20, done.
remote: Counting objects: 100% (20/20), done.
remote: Compressing objects: 100% (17/17), done.
remote: Total 20 (delta 4), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (20/20), done.

In [ ]:
import pandas as pd
from pathlib import Path
from pandas.tseries.offsets import DateOffset

In [ ]:
btc_df = pd.read_csv(
    Path("/content/Project_Two_Team_Hodl/Resources/Bitstamp_BTCUSD_d.csv"),
    index_col="date",
    infer_datetime_format=True,
    parse_dates=True
)

In [45]:
btc_df.head()

,symbol,open,high,low,close,Volume BTC,Volume USD,actual returns,sma_fast,sma_slow,signal
date,,,,,,,,,,,
2021-08-29,BTC/USD,48947.10,49666.00,47798.29,48808.72,1044.481890,50979824.13,0.038407,49025.9800,48622.57310,1.0
2021-08-28,BTC/USD,49100.49,49325.00,48244.88,48935.36,692.705886,33897811.88,0.002595,48773.9078,48661.53610,1.0
2021-08-27,BTC/USD,46857.86,49187.00,46363.00,49100.49,1943.557256,95429613.61,0.003374,48538.5124,48710.52505,1.0
2021-08-26,BTC/USD,49022.39,49387.60,46309.33,46856.29,2091.109826,97981648.43,-0.045706,48242.4912,48746.47795,-1.0
2021-08-25,BTC/USD,47670.80,49273.93,47100.00,49011.75,1902.720534,93255663.13,0.046002,48075.2946,48802.58400,1.0

In [46]:
btc_df["actual returns"] = btc_df["close"].pct_change()
btc_df.head()

,symbol,open,high,low,close,Volume BTC,Volume USD,actual returns,sma_fast,sma_slow,signal
date,,,,,,,,,,,
2021-08-29,BTC/USD,48947.10,49666.00,47798.29,48808.72,1044.481890,50979824.13,NaN,49025.9800,48622.57310,1.0
2021-08-28,BTC/USD,49100.49,49325.00,48244.88,48935.36,692.705886,33897811.88,0.002595,48773.9078,48661.53610,1.0
2021-08-27,BTC/USD,46857.86,49187.00,46363.00,49100.49,1943.557256,95429613.61,0.003374,48538.5124,48710.52505,1.0
2021-08-26,BTC/USD,49022.39,49387.60,46309.33,46856.29,2091.109826,97981648.43,-0.045706,48242.4912,48746.47795,-1.0
2021-08-25,BTC/USD,47670.80,49273.93,47100.00,49011.75,1902.720534,93255663.13,0.046002,48075.2946,48802.58400,1.0

In [47]:
btc_df = btc_df.dropna()
display(btc_df.head())
display(btc_df.tail())

,symbol,open,high,low,close,Volume BTC,Volume USD,actual returns,sma_fast,sma_slow,signal
date,,,,,,,,,,,
2021-08-28,BTC/USD,49100.49,49325.00,48244.88,48935.36,692.705886,3.389781e+07,0.002595,48773.9078,48661.53610,1.0
2021-08-27,BTC/USD,46857.86,49187.00,46363.00,49100.49,1943.557256,9.542961e+07,0.003374,48538.5124,48710.52505,1.0
2021-08-26,BTC/USD,49022.39,49387.60,46309.33,46856.29,2091.109826,9.798165e+07,-0.045706,48242.4912,48746.47795,-1.0
2021-08-25,BTC/USD,47670.80,49273.93,47100.00,49011.75,1902.720534,9.325566e+07,0.046002,48075.2946,48802.58400,1.0
2021-08-24,BTC/USD,49516.08,49893.50,47593.66,47731.33,2217.803057,1.058587e+08,-0.026125,47882.4302,48847.13055,-1.0

,symbol,open,high,low,close,Volume BTC,Volume USD,actual returns,sma_fast,sma_slow,signal
date,,,,,,,,,,,
2014-12-02,BTC/USD,378.39,382.86,375.23,379.25,2593576.46,6832.53,0.006849,304.8986,257.72655,1.0
2014-12-01,BTC/USD,376.40,382.31,373.03,378.39,2520662.37,6660.56,-0.002268,308.2448,258.40140,-1.0
2014-11-30,BTC/USD,376.57,381.99,373.32,373.34,1145566.61,3046.33,-0.013346,311.3740,259.02765,-1.0
2014-11-29,BTC/USD,376.42,386.60,372.25,376.72,2746157.05,7245.19,0.009053,314.6800,259.68235,1.0
2014-11-28,BTC/USD,363.59,381.34,360.57,376.28,3220878.18,8617.15,-0.001168,318.2036,260.32000,-1.0

In [ ]:
short_window = 50

btc_df['sma_fast'] = btc_df['close'].rolling(window = short_window).mean()

In [ ]:
long_window = 200

btc_df['sma_slow'] = btc_df['close'].rolling(window = long_window).mean()

In [ ]:
btc_df = btc_df.dropna()

In [100]:
X = btc_df[['sma_fast', 'sma_slow']].shift().dropna().copy()

In [101]:
X.head()

              sma_fast     sma_slow
date
2021-08-27  48773.9078  48661.53610
2021-08-26  48538.5124  48710.52505
2021-08-25  48242.4912  48746.47795
2021-08-24  48075.2946  48802.58400
2021-08-23  47882.4302  48847.13055

In [102]:
X.tail()

            sma_fast   sma_slow
date
2014-12-02  301.8854  257.05375
2014-12-01  304.8986  257.72655
2014-11-30  308.2448  258.40140
2014-11-29  311.3740  259.02765
2014-11-28  314.6800  259.68235

In [103]:
btc_df['signal'] = 0.0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [104]:
btc_df.loc[(btc_df['actual returns'] >= 0), 'signal'] = 1


btc_df.loc[(btc_df['actual returns'] < 0), 'signal'] = -1

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [106]:
y = btc_df['signal'].copy()

In [95]:
y.head()

date
2021-08-28    1.0
2021-08-27    1.0
2021-08-26   -1.0
2021-08-25    1.0
2021-08-24   -1.0
Name: signal, dtype: float64

In [96]:

training_begin = X.index.min()


print(training_begin)

2014-11-28 00:00:00

In [97]:
training_end = X.index.min() + DateOffset(years=7)


print(training_end)

2021-11-28 00:00:00

In [98]:

X_train = X.loc[training_begin:training_end]
y_train = y.loc[training_begin:training_end]

In [99]:
X_train.head()

Empty DataFrame
Columns: [sma_fast, sma_slow]
Index: []

In [80]:
X_test = X.loc[training_end:]
y_test = y.loc[training_end:]

X_test.head()

            sma_fast   sma_slow
date
2015-06-28  275.8930  309.79835
2015-06-27  275.7378  308.89675
2015-06-26  275.6394  307.98995
2015-06-25  275.2828  306.97460
2015-06-24  274.8016  305.93790

In [75]:
from sklearn.preprocessing import StandardScaler

In [76]:
scaler = StandardScaler()

In [64]:
X_scaler = scaler.fit(X_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

ValueError: ignored